#calc-main-body{
    background-color: slategray;
    padding: 10px;
    position: fixed;
    left: 25%;
    top: 5%;
    box-shadow: 0px 8px #2f4f4f, 0px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
#calc-display-container{
    background-color: slategray;
    padding: 15px;
}
#calc-display{
    white-space: pre-wrap;
    background-color: salmon;
    color: whitesmoke;
    height: 60px;
    width: 460px;
    padding: 10px 20px 10px;
    font-size: 200%;
    text-align: left;
    box-shadow: inset 0px 11px 18px -10px crimson;
    border-radius: 8px;
}
#calc-button-container{
    width: 520px;
    padding: 5px 10px 10px;
    background-color: slategray;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-auto-flow: column;
}
.calc-button, #equality-sign, #delete-button{
  cursor: pointer;
  background-color: salmon;
  color: whitesmoke;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  font-size: 200%;
  box-shadow: 0px 4px crimson;
}
#delete-button {
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#equality-sign {
    grid-column: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.clicked, #clicked {
    background-color: crimson;
    box-shadow: none;
}
#calc-led-light-1, #calc-led-light-2, #calc-led-light-3{
    border-radius: 25px;
    padding: 4px;
    width: 1px;
    height: 1px;
    display: inline-block;
}
#calc-led-light-1{
    background-color: lawngreen;
}
#calc-led-light-2{
    background-color: orange;
}
#calc-led-light-3{
    background-color: tomato;
}
.calc-led-light{
    float:left;
}